* {
	margin: 0;
}

/**/

body {
	font-family: 'Merriweather', serif;
}

.thought h1, a {
	color: rgb(85, 26, 139)
}

.thought h2, .thought h3 {
	padding: 0.25rem 0.5rem 0.1rem 0.5rem;
	background-color: rgb(85, 26, 139);
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 1.5rem 0;
}

:not(li) > p {
	margin-bottom: 1rem;
}

p + ul {
	margin-top: -0.7rem;
}

article ul {
	list-style: none;
	padding: 0;
	margin-bottom: 1rem;
}

article ul li {
	padding-left: 1.3rem;
}

article ul li:before {
    content: "-";
	margin-left: -1.2rem;
	margin-right: 0.5rem;
    color: rgb(85, 26, 139)
}

article ul ul {
	margin-left: -0.2rem;
	margin-bottom: 0.3rem;
}

article dt {
	display: inline-block;
	float: left;
	clear: left;
	margin-right: 0.5rem;
	font-weight: bold;
}

article dt:after {
	content: ':'
}

article dd {
	margin-bottom: 0.5rem;
}

article code {
	font-family: Consolas, Inconsolata, monospace
}

/*Block code*/
article pre {
	margin-left: 2rem;
	margin-bottom: 1rem;
}

/*Inline code*/
article :not(pre) > code {
	padding: 0 0.2rem;
	background-color: rgba(85, 26, 139, 0.05);
	white-space: nowrap;
}

.code .k, .code .kt, .code .s {
	color: #0000FF;
}

.code .p, .code .o {
	color: #008040;
}

.code .mi {
	color: #F000F0;
}

.code .cm {
	color: #FF8000;
}

blockquote {
	margin-left: 2rem;
	font-style: italic;
}

.footnote {
	font-size: 0.8rem;
}

hr {
	margin-bottom: 5px;
	border: 0;
	border-top: 1px solid rgb(85, 26, 139);
}

/*Layout*/

.page {
	max-width: 800px;
	margin: 0 auto;
}

.navbar {
	position: fixed;
	display: block;
	width: 100%;
	max-width: 800px;
}

.page .content {
	padding-top: 5rem;
	padding-bottom: 10rem;
}

/*Navbar*/
	
.navbar {
	padding: 0.5em 0 0.2em 0;
	background-color: #fff;
	box-shadow: 0 0 0.05rem 0.1rem #fff
}

.navbar ul {
	padding: 0.2rem 0.4rem;
	border-top: solid 1.2rem rgb(85, 26, 139);
}

.navbar li {
	display: inline;
	padding-right: 2rem;
	list-style: none;
}

.navbar li.right {
	float: right;
	padding: 0 0 0 2rem;
}

/*Thoughts*/

.thought header {
	overflow: hidden;
}

.thought .title {
	display: inline-block;
	float: left;
	margin: 0;
}

.thought .no.title {
	width: 16px;
	height: 16px;
	margin-top: 2px;
	background-color: rgb(85, 26, 139);
}

.thought .tags {
	float: right;
}

.thought .tags :not(br) + ::before {
	margin-left: -0.3rem;
	content: ", ";
}

.thought .contents {
	padding-top: 1rem;
}

.inline.thought:not(:last-child) .contents {
	max-height: 20rem;
	overflow: hidden;
}

.inline.thought {
	margin-bottom: 3rem;
}