* {
	margin: 0;
}

/**/

body {
	font-family: 'Merriweather', serif;
}

.thought h1, .thought h2, .thought h3, a {
	color: rgb(85, 26, 139)
}

h1, h2, h3 {
	margin: 1.5rem 0;
}

p {
	margin: 1rem 0;
}

h1:first-child, h2:first-child, h3:first-child, p:first-child {
	margin-top: 0;
}

article ul {
	list-style: none;
	padding: 0;
}

article ul li {
	padding-left: 1.3rem;
}

article ul li:before {
    content: "-";
	margin-left: -1.2rem;
	margin-right: 0.5rem;
    color: rgb(85, 26, 139)
}

article ul ul {
	margin-left: -0.2rem;
	margin-bottom: 0.3rem;
}

article dt {
	display: inline-block;
	float: left;
	clear: left;
	margin-right: 0.5rem;
	font-weight: bold;
}

article dt:after {
	content: ':'
}

article dd {
	margin-bottom: 0.5rem;
}

article code {
	font-family: Consolas, Inconsolata, monospace
}

article pre {
	margin-left: 2rem;
}

article :not(pre) > code {
	padding: 0 0.2rem;
	background-color: rgba(85, 26, 139, 0.05);
	white-space: nowrap;
}

.code .k, .code .kt, .code .s {
	color: #0000FF;
}

.code .p, .code .o {
	color: #008040;
}

.code .mi {
	color: #F000F0;
}

.code .cm {
	color: #FF8000;
}

blockquote {
	margin-left: 2rem;
	font-style: italic;
}

/*Layout*/

.page {
	max-width: 800px;
	margin: 0 auto;
}

.navbar {
	position: fixed;
	display: block;
	width: 100%;
	max-width: 800px;
}

.page .content {
	padding-top: 5rem;
	padding-bottom: 10rem;
}

/*Navbar*/
	
.navbar {
	padding-top: 0.5em;
	background-color: #fff;
}

.navbar ul {
	padding: 0.2rem 0.4rem;
	border-top: solid 1.2rem rgb(85, 26, 139);
}

.navbar li {
	display: inline;
	padding-right: 2rem;
	list-style: none;
}

.navbar li.right {
	float: right;
	padding: 0 0 0 2rem;
}

/*Thoughts*/

.thought header {
	overflow: hidden;
}

.thought .title {
	display: inline;
	margin-bottom: 1.5rem;
}

.thought .tags {
	float: right;
	#margin: auto auto 0 auto;
}

.thought .tags :not(:last-child)::after {
	content: ", ";
}

.thought .contents {
	padding-top: 1rem;
}

.inline.thought:not(:last-child) .contents {
	max-height: 20rem;
	overflow: hidden;
}

.inline.thought {
	margin-bottom: 3rem;
}